/* Overrides default bootstrap.css and carousel.css style. Customized for Aidoslabs.com homepage*/


.left-align{
    text-align:left
}

/* bootstrap.css*/
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 60%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000000;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.lead {
  margin-bottom: 20px;
  font-size: 16.099999999999998px;
  font-weight: 200;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .lead {
    font-size: 17px;
  }
}

/* Change carousel indicator color to contrast against the white background */
.carousel-indicators li {
  border: 1px solid #000000;
}

.carousel-indicators .active {
  background-color: #000000;
}

/* carousel.css */
  .featurette-heading {
    font-size: 30px;
  }

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

