#repaymentTable {
    height: 300px;
    overflow: auto;
    border: 1px;
//    display: none;
}


#results-row {
    border: 1px solid black;
}

#chart_div {
    margin: auto;
}

#lastEmiInfo span.emphasize {
    font-weight: bold;
    color: rgb(0, 122, 255);
}

.userBody {
    display:none;
}
