.logo h1 {
    color: #99583D;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0;
}

.header h6 {
    font-weight: bold;
    color: #357ebd;
}

#repaymentTable {
    height: 380px;
    overflow: auto;
    border: 1px;
//    display: none;
}

.inputForm {
    padding: 5px;
}
#results-row, .inputForm, #lastEmiInfo {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
}

#chart_div {
    margin: 0 auto;
}

#lastEmiInfo span.emphasize {
    font-weight: bold;
    color: rgb(0, 122, 255);
}

.userBody {
    display:none;
}


.inputForm .errorMsg {
//    color: red;
//    font-weight: bold;
}

#bar_chart_div {
    height: 300px;
}

.round-border {
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 25px;
    margin: auto;
    margin-bottom: 10px;
}

.round-border span {
    color: #dc3912;
}

.ui-datepicker-calendar {
    display: none;
}

.errorMsg {
    margin-top: 5px;
    display: none;
}

@media (max-width: 480px) {
    .inputForm label {
        width: 35%;
    }
}

.addthis_toolbox {
    margin-top: 10px;
}

.addthis_toolbox h4 {
    display:inline-block;
}

#dataChangeModal label {
    width: 100px;
}

#dataChangeModal .modal-title {
    text-align: center;
    font-weight: bold;
}

#dataChangeModal form {
    text-align: center;
}

#repaymentTable tr:hover {
    cursor: pointer;
}

.green {
    color: green;
}

.blue_bar {
    height: 10px;
    background-color: #357ebd;
    border-radius: 10px;
}

.title {
    text-align: center;
}